body,
html {
  height: 100%;
  margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .4s;
}

.fade-out {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .4s;
}


strong {
  font-size: small;
  color: black;
}

h1 {
	margin-bottom: 0;
	align-self: center;
}


ul {
	padding: 0;
	list-style: none;
	margin: 0;
	text-align: start;
}

p {
	margin: 0;
	align-self: center;
}

.container {
  text-align: center;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: '';
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.container .header {
  position: sticky;
	background-color: white;
	color: black;
	box-shadow: 0px 10px 10px -12px #111;
	z-index: 100;
	top: 0;
}

dialog {
	border-radius: 15px;
	border-color: transparent;
	box-shadow: 0px 10px 10px -12px #111;
}

.sidebar {
	background-color: #373360; 
	grid-row: 1 / span 2;
}

.nav {
  background-color: #642cde;
}

.article {
	display: grid;
	background: linear-gradient(-45deg, #5c54b0, #e76c9d, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  margin: 0;
}

.sidebar p {
  color: white;
  font-size: 18px;
  text-align: start;
}

.options > ul li {
	display: flex;
	gap: 12px;
}

.options > ul {
	padding: 0;
	list-style: none;
	margin: 0;
	text-align: start;
	margin-bottom: 1.5em;
	margin-left: -1rem;
}

.options > ul {
	padding: 0;
	list-style: none;
	margin: 0;
	text-align: start;
}

.options > ul li:first-child {
  margin-bottom: 1.5em;
	margin-left: -1rem;
}

.options > ul > li > svg {
	display: inline;
	height: 10px;
	justify-self: center;
	align-self: center;
	width: 1.5625em;
	height: 1.5625em;
}

.options > ul li .lesser-logo {
	width: 0.7em;
}

.settings > ul li:first-child {
	margin-left: 0;
  margin-bottom: 0;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	text-align: start;
}

.cards-heading > p {
  margin-left: 1rem;
}

.cards {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(3, 240px);
}

.cards > .card {
	background-color: white;
	border-radius: 15px;
	border-left: 15px solid rgb(55, 51, 96);
	font-weight: normal;
	padding: 45px 25px 45px 25px;
	box-shadow: 0px 10px 10px -12px #111;
	display: grid;
	grid-template-rows: auto auto;
	width: 10rem;
	height: 25rem;
}

.card p {
	font-size: 15px;
	color: #636363;
}

.card .title {
	font-size: 15px;
	font-weight: bold;
	color: black;
	align-self: start;
}


.card > .info {
	color: #636363;
	align-self: start;
	font-size: small;
	align-items: flex-start;
}

.card > .main {
	padding: 0;
}

img {
	filter: invert();
	width: 2.4em;
	height: 5rem;
}

#project-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 0;
	margin-top: 2rem;
	align-self: end;
}

.project-option {
	width: 1.8rem;
}

.header > .project-option {
	grid-column: 1; /* Place the SVG in the first column */
	grid-row: 1; /* Place the SVG in the first row */
	align-self: center;
}

form {
	display: grid;
	width: 400px;
	background-color: rgba(255, 255, 255, 1);
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0px 0px 10px #fff;
	gap: 1rem;
}

form input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

form input:focus {
    outline: none;
    border-color: #394867;
    transition: .3s;
}

form label {
    position: relative;
    height: 100%;
    display: block;
}

label > input:focus + span {
    color: #373360;
    font-size: 12px;
    transition: .3s;
    top: -10px;
}

form label span {
    font-size: medium;
    position: absolute;
    top: -7px;
    left: 20px;
    transition: .3s;
    background-color: #fff;
    padding: 2px;
}

.check-question {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin-bottom: 1rem;
	align-content: center;
	align-content: center;
	justify-content: space-between;
}

#read {
	height: 25;
	margin: 0;
}

.check-question > span {
	color: black;
	font-size: medium;
	font-weight: normal;
}


.balloon {
	background-color: #373360;
	border-radius: 25px;
	width: 8.4em;
	align-self: center;
	color: white;
	padding: 15;
	border: 0;
	box-shadow: 0px 10px 10px -12px #111;
	font-weight: bold;
	font-size: medium;
	justify-self: center;
}


.container .header {
	position: sticky;
	background-color: white;
	color: black;
	box-shadow: 0px 10px 10px -12px #111;
	z-index: 100;
	top: 0;
	display: grid;
	padding: 30px;
	grid-template-columns: auto 1fr;
	gap: 1em;
}

.search {
	grid-row: 1;
	display: inline-block;
	width: clamp(8em, 80%, 25em);
	background-color: #e2e8f0;
	border-radius: 30px;
	height: .3em;
	align-self: center;
}

.header > .project-option:nth-child(2) {
	margin: 0 auto;
	grid-column: 3;
}


.header > strong {
	grid-row: 1;
	grid-column: 5;
	align-self: center;
	font-size: medium;
}
