body,
html {
  --hvr: #6d63bc;
  --clr: #373360;
  height: 100%;
  margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}

#pop-in {
	transform: scale(1);
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}


strong {
  font-size: small;
  color: black;
}

h1 {
	margin-bottom: 0;
	align-self: center;
}


ul {
	padding: 0;
	list-style: none;
	margin: 0;
	text-align: start;
}

p {
	margin: 0;
	align-self: center;
}

.container {
  text-align: center;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: '';
}

.header > .searchToggle {
	grid-column: 2;
	justify-self: start;
	padding: 0;
	gap: 1em;
	display: flex;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 38px;
    height: 3px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before {
    content: "";
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
    background: var(--clr); /* Use the actual color value here */
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 40px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
	color: black;
	font-weight: lighter;
	font-size: 1rem;
	bottom: 2;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.container .header {
	position: sticky;
	background-color: white;
	color: black;
	box-shadow: 0px 10px 10px -12px #111;
	z-index: 100;
	top: 0;
	display: grid;
	padding: 30px;
	grid-template-columns: auto 1fr;
	grid-gap: 0 1em;
}

dialog {
	border-radius: 15px;
	border-color: transparent;
	box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.15);
}

#bookSettings {
	display: grid;
	width: 400px;
	background-color: rgba(255, 255, 255, 1);
	padding: 36px;
	border-radius: 12px;
	box-shadow: 0px 0px 10px #fff;
	gap: 1rem;
}

::backdrop {
	opacity: 0;
}

#dialog-msg {
	display: flex;
	padding: 15 0 15 0;
	transition: .3s;
}

#dialog-msg:hover {
	filter: invert(49%) sepia(55%) saturate(557%) hue-rotate(207deg) brightness(76%) contrast(92%);
}

#dialog-msg img {
	filter: none;
}


#dialog-msg h1 {
	color: black;
	font-size: math;
}

.sidebar {
	background-color: var(--clr); 
	grid-row: 1 / span 2;
}

.article {
	display: grid;
	background: linear-gradient(-45deg, #5c54b0, #e76c9d, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  margin: 0;
}

.sidebar p {
  color: white;
  font-size: 18px;
  text-align: start;
}

.options > ul li {
	display: flex;
	gap: 12px;
}

.options > ul {
	padding: 0;
	list-style: none;
	margin: 0;
	text-align: start;
	margin-bottom: 1.5em;
	margin-left: -1rem;
}

.options > ul {
	padding: 0;
	list-style: none;
	margin: 0;
	text-align: start;
}

.options > ul li:first-child {
  margin-bottom: 1.5em;
	margin-left: -1rem;
}

.options > ul > li > svg {
	display: inline;
	height: 10px;
	justify-self: center;
	align-self: center;
	width: 1.5625em;
	height: 1.5625em;
}

.options > ul li .lesser-logo {
	width: 0.7em;
}

.settings > ul li:first-child {
	margin-left: 0;
  margin-bottom: 0;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	text-align: start;
}

.cards-heading > p {
  margin-left: 1rem;
}

.cards {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, 15rem);
}

.cards > .card {
	background-color: white;
	border-radius: 15px;
	border-left: 15px solid rgb(55, 51, 96);
	font-weight: normal;
	padding: 45px 25px 45px 25px;
	box-shadow: 0px 10px 10px -12px #111;
	display: grid;
	grid-template-rows: auto auto;
	width: 10rem;
	height: 25rem;
	transition: transform 0.3s ease; /* Transition for transform property */

    /* Initial transform scale */
    transform: scale(0)
}

.card p {
	font-size: 15px;
	color: #636363;
}

.card .title {
	font-size: 15px;
	font-weight: bold;
	color: black;
	align-self: start;
}


.card > .info {
	color: #636363;
	align-self: start;
	font-size: small;
	align-items: flex-start;
}

.card > .main {
	padding: 0;
}

img {
	filter: invert();
	width: 2.4em;
	height: 5rem;
}

#project-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 0;
	margin-top: 2rem;
	align-self: end;
}

.project-option {
	width: 1.8rem;
	transition: .5s;
}

#project-options > .project-option:hover {
	scale: 1.5;
}

.header > .project-option {
	grid-column: 1; /* Place the SVG in the first column */
	grid-row: 1; /* Place the SVG in the first row */
	align-self: center;
}

form {
	display: grid;
	width: 400px;
	background-color: rgba(255, 255, 255, 1);
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0px 0px 10px #fff;
	gap: 1rem;
}

.close {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: 0;
	color: var(--clr);
	position: absolute;
	top: 10;
	left: 85%;
	font-size: large;
	font-weight: bold;
	width: 70;
	transition: all .1s ease-in-out;
	cursor: pointer;
	height: 45;
	padding-bottom: 5px;
}

.close:hover {
	color: var(--hvr);
	transform: scale(1.1);
	background-color: #eaeaea;
	border-radius: 20px;
}

.border-common {
	width: 100%;
	padding: 12px;
	border: 1px solid black;
	border-radius: 8px;
	margin-bottom: 15px;
	font-size: 16px;
	transition: border-color 0.3s;
}

.invalid {
	border: 1px solid red;
}

form input:focus {
    outline: none;
    border-color: var(--hvr);
    transition: .3s;
}

form label {
    position: relative;
    height: 100%;
    display: block;
}

label > input:focus + span {
    color: var(--hvr);
    font-size: medium;
    transition: .3s;
    top: -10px;
}

form label span {
	font-size: medium;
	position: absolute;
	top: -15px;
	left: 20px;
	transition: .3s;
	background-color: #fff;
	padding: 2px;
}

#checks {
	display: grid;
	grid-template-columns: auto auto;
	border: 1px solid black;
	width: auto;
}

label.check {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	align-content: center;
	justify-content: space-between;
}

form > h1 {
	font-size: .7em;
	margin-bottom: 1em;
}

input[type="checkbox"] {
	height: 35;
	align-self: center;
	filter: hue-rotate(410deg) contrast(0.9) saturate(1.2);
	margin-top: 2.5rem;
	width: 20;
	cursor: pointer;
}

label.check > span {
	color: black;
	top: 0;
	left: 0;
}

.balloon {
	background-color: var(--clr);
	border-radius: 25px;
	width: auto;
	align-self: center;
	color: white;
	padding: 15;
	border: 0;
	box-shadow: 0px 10px 10px -12px #111;
	font-weight: bold;
	font-size: medium;
	justify-self: center;
	transition: all .1s ease-in-out;
}

.balloon:hover {
	background-color: var(--hvr);
	transform: scale(1.1);
}

.header > .wrapper {
	width: clamp(8em, 80%, 25em);
	padding-left: 0;
}


label .searchBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* padding: 0; */
	margin: 0;
	padding-left: 0;
}

#searchQueryInput {
	width: 100%;
	height: 2.8rem;
	background: #f5f5f5;
	outline: none;
	border: none;
	border-radius: 1.625rem;
	padding: 0 3.5rem 0 1.5rem;
	font-size: 1rem;
}

.header > .project-option:nth-child(2) {
	margin: 0 auto;
	grid-column: 3;
}


.header > strong {
	grid-row: 1;
	grid-column: 5;
	align-self: center;
	font-size: medium;
}
